body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 235, 234);
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.app {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.5) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 10px;
  width: 800px;
  margin-top: 50px;
}

.button-container,
.info-container {
  display: flex;
  align-items: center;
}

.button-container button {
  margin: 0 5px;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 7px;
  background-color: transparent;
}

.button-container button:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.edit {
  border: 1.5px solid rgb(141, 181, 145);
  color: rgb(141, 181, 145);
}

.edit:hover {
  background-color: rgb(182, 223, 186);
  font-weight: lighter;
}
.edit:active {
  border: 1.5px solid rgb(141, 181, 145);
  color: rgb(255, 255, 255);
  background-color: rgb(141 181 145);
}
.delete {
  border: 1.5px solid rgb(255, 175, 163);
  color: rgb(255, 175, 163);
}

.delete:hover {
  background-color: rgb(255, 201, 193);
}

.delete:active {
  border: 1.5px solid rgb(255, 175, 163);
  background-color: rgb(255, 175, 163);
  color: rgb(255, 255, 255);
}

.create {
  border: 1.5px solid rgb(108, 115, 148);
  color: rgb(108, 115, 148);
}

.create:hover {
  background-color: rgb(131, 138, 172);
}

.create:active {
  background-color: rgb(108, 115, 148);
  color: rgb(255, 255, 255);
}

/* List Header */

.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
}

/*List item */

.list-item {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
  display: flex;
  justify-content: space-between;
}

.tick {
  padding: 20px;
}

.tick path {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  stroke-width: 32px;
}
